      html, body { 
            height: 100%; 
            margin: 0; 
            padding: 0; 
      
      }
      
      #map { 
            height: 100%;
            width: 100%;
      }
      
      .mobuttons {
            position: absolute;
            z-index: 1000;
            height: 40px;
            width: 40px;
            text-align: center;
      }
      span {
            color: white;
      }
      
      #pokefound {
            top: 1%;
            right: 1%;
            background-color: green;  
      }
      
      #pokelost {
            top: 1%;
            left: 1%;
            background-color: red;
      }
      
      #pokereset {
            left: 1%;
            bottom: 5%;
            background-color: blue;  
      }